<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net472" />
  <package id="GrapeCity.DioDocs.Common.ja" version="1.0.0.153" targetFramework="net472" />
  <package id="GrapeCity.DioDocs.Excel.ja" version="1.5.0.8" targetFramework="net472" />
  <package id="GrapeCity.DioDocs.Imaging.ja" version="1.0.0.153" targetFramework="net472" />
  <package id="GrapeCity.DioDocs.Pdf.ja" version="1.0.0.153" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>